I used tk here we can use many advanced like 
>> tk
>> pandas
>> numpy
>> customtkinter
>> matplotlib

how to install them??
go to terminall cmd / vs and write below prompt
pip install customtkinter
u can install 
